

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 320px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  &__img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 12px;
    padding: 20px;
  }

    &__title {
    font-size: 1.5rem;
    margin: 0;
  }

  &__text {
    color: #555;
    line-height: 1.6;
  }

    &__date {
      font-size: 0.9rem;
      justify-self: end;
      span {
        color: #6ab04c;
      }
    }

    &__btn {
      background-color: #6ab04c;
      color: white;
      border: none;
      font-weight: 500;
      padding: 12px;
      border-radius: 2px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%;
      &:hover {
        background-color: #58a034;
      }
    }
}

