.title {
  color: #d35400;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 50px;

  span {
    color: #2980b9;
    font-weight: bold;
  }
}

.logo-container {
  text-align: center;
  margin-top: 20px;

  img {
    width: 200px;
  }
}
